* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    margin-bottom: 24px;
    border-bottom: 1px solid;
    border-color: #EDEEF2;
}

.logo-search {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-search > img {
    width: 79px;
    height: 40px;
}

.search {
    border-style: hidden;
    background-color: #EDEEF2;
}

nav {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #2B2B43;
}

.nav-bag {
    background-color: #F3F4FF;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.nav-bag > img {
    width: 20px;
    height: 20px;
}

.nav-bag > div {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #4E60FF;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 224px;
    height: 40px;
    background-color: #EDEEF2;
}

button[type="submit"] {
    text-indent: -999px;
    width: 40px;
    border: 1px solid transparent;
    background: url('../assets/search.png') no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
  
  button[type="submit"]:hover {
    opacity: 1;
}

.navigation-mobile {
    display: none;
    width: 44px;
    height: 44px;
    border-radius: 16px;
    background-color: #EDEEF2;
}

.discounts {
    display: flex;
    justify-content: space-evenly;
}

.discounts > .deserts, .discounts > .burgers {
    width: 540px;
    height: 188px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px;
    margin-bottom: 32px;
}

.discounts-descriptions {
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
}

.deserts {
    background-color: #F3F4FF;
}

.burgers {
    background-color: #FFF3ED;
}

.discount-price {
    color: #4E60FF;
    font-weight: bold;
    font-size: 40px;
}

.which-product {
    font-weight: 400;
    font-size: 14px;
    color: #83859c;
}

.food-type {
    width: 90%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.food-type > div {
    width: 160px;
    border-radius: 16px;
    border: 1px solid;
    border-color: #EDEEF2;
    display: flex;
    flex-direction: column;
    color: #545563;
    font-size: 13px;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.food-type > div > img {
    width: 24px;
    height: 24px;
}

.food-type > div:hover {
    border-color: #697BFF;
}

.food-type > div:active {
    border-color: #4E60FF;
    background-color: #F3F4FF;
}

.nearby {
    width: 85%;
    margin: 0 auto;
    height: 28px;
    font-weight: bold;
    font-size: 20px;
    color: #2B2B43;
    margin-top: 40px;
    margin-bottom: 16px;
}

.restaurants-part {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.restaurants {
    width: 350px;
    height: 276px;
    border-radius: 16px;
    border: 1px solid;
    border-color: #EDEEF2;
}

.photo-part {
    height: 160px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: flex-end;
}

.royal-sushi {
    background-image: url('../assets/royal-sushi.png');
}

.burgers-pizza {
    background-image: url('../assets/burger-pizza.png');
}

.ninja-sushi {
    background-image: url('../assets/ninja-sushi.png');
}

.featured {
    width: 94px;
    height: 32px;
    background-color: #4E60FF;
    color: white;
    Padding: 8px 16px 8px 16px;
    border-bottom-left-radius: 16px;
}

.restaurant-name-part {
    margin-top: 16px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-around;
}

.restaurant-name {
    width: 286px;
    font-weight: bold;
    font-size: 18px;
}

.bag-part {
    position: relative;
    width: 20px;
}

.bag-count {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #4E60FF;
    top: -5px;
    right: -5px;
    border-radius: 8px;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-info {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.dot-outside {
    display: flex;
    height: 100%;
    align-items: center;
}

.blue-dot {
    width: 3px;
    height: 3px;
    border-radius: 16px;
    background-color: #4E60FF;   
}

.category {
    display: flex;
    width: 70px;
    height: 24px;
    background-color: #EDEEF2;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 14px;
    margin-left: 16px;
}

.category-section {
    display: flex;
}

.category > img {
    width: 12px;
    height: 12px;
}

@media (max-width: 768px) {
    .navigation-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 50%;
    }

    .desktop-version {
        display: none;
    }

    .discounts {
        flex-direction: column;
    }

    .discounts > .deserts, .discounts > .burgers {
        width: 330px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .deserts > img, .burgers > img {
        order: 2;

    }

    .discounts-description-out {
        order: 1;
    }

    .discounts-descriptions {
        height: 100px;
        position: relative;
        flex-direction: row;
        align-items: center;
    }

    .discount-price {
        position: absolute;
        top: 65px;
        left: 45px;
    }

    .food-type {
        height: auto;
        flex-wrap: wrap;
    }

    .food-type > div {
        width: 100px;
        height: 80px;
        margin-bottom: 15px;
    }

    .nearby-restaurants {
        height: auto;
    }

    .restaurants-part {
        flex-wrap: wrap;
    }

    .restaurants {
        margin-bottom: 30px;
    }
}