* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    height: 860px;
    display: flex;
    font-family: 'Nunito', sans-serif;
    flex-wrap: wrap;
    margin: 0 auto;
}

.login-part {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo-part {
    width: 350px;
}

.login-part > img {
    width: 79px;
    height: 40px;
}

.login-form-out {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.login-form-in > h1 {
    font-weight: 700;
    font-size: 60px;
    width: 350px;
    height: 82px;
    letter-spacing: 0.1px;
}

.sign-in-info {
    width: 350px;
    height: 40px;
    font-size: 14px;
}

.login-form-in > form {
    margin-top: 32px;
    margin-bottom: 28px;
}

.login-form-in > form > label {
    height: 16px;
    font-size: 12px;
}

.login-form-in > form > .input {
    width: 350px;
    height: 44px;
    border-radius: 8px;
    border-color: rgba(199, 200, 210, 1);
    margin-bottom: 28px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-color: rgba(199, 200, 210, 1);
}

.keep-logged-in-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keep-logged-in {
    width: 318px;
}

.login {
    margin-top: 40px;
    background-color: rgba(78, 96, 255, 1);
    width: 350px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}

.forget-password {
    width: 318px;
    height: 20px;
    color: rgba(78, 96, 255, 1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.sign-up > a {
    text-decoration: none;
    color: rgba(78, 96, 255, 1);
    font-weight: bold;
}

::placeholder {
    font-family: 'Nunito', sans-serif;
    padding-left: 12px;
    font-size: 14px;
}


.review-part {
    width: 720px;
    margin: 0 auto;
    background-color: rgba(105, 123, 255, 1);
}

.empty-space {
    height: 700px;
}

.images-out {
    width: 100%;
}

.images-in {
    position: relative;
}

.images-in > img:nth-child(1) {
    position: absolute;
    top: 15px;
    left: 0;
}

.images-in > img:nth-child(2) {
    position: absolute;
    left: 300px;
    right: 71px;
    top: 80px;
}

.images-in > img:nth-child(3) {
    position: absolute;
    top: 380px;
}

.review-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    text-align: center;
    color: white;
}

.leave-review {
    font-weight: bold;
    font-size: 32px;
}

.lorem-ipsum-out {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.lorem-ipsum-in {
    width: 480px;
}

.paggination-out {
    display: flex;
    justify-content: space-around;
}

.round {
    background-color: white;;
    opacity: 0.3;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.paggination-in {
    width: 56px;
    display: flex;
    justify-content: space-between;
}

.round:nth-child(2) {
    opacity: 1;
}

@media (max-width: 768px) {
    body {
        max-width: 360px;
        height: 812px;
        margin: 0 auto;
        padding: 0;
    }

    .login-part {
        width: 100%;
    }

    .login-form-in > h1 {
        width: 330px;
    }

    .sign-in-info {
        width: 330px;
        height: 40px;
        font-size: 14px;
    }

    .review-part {
        display: none;
    }
}