* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    margin-bottom: 24px;
    border-bottom: 1px solid;
    border-color: #EDEEF2;
}

.logo-search {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-search > img {
    width: 79px;
    height: 40px;
}

.search {
    border-style: hidden;
    background-color: #EDEEF2;
}

nav {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #2B2B43;
}

.nav-bag {
    background-color: #F3F4FF;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.nav-bag > img {
    width: 20px;
    height: 20px;
}

.selected-avatar {
    border: 1px solid #4E60FF;
    border-radius: 16px;
}

.nav-bag > div {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #4E60FF;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.logo-search > form {
    color: #555;
    display: flex;
    padding: 2px;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 224px;
    height: 40px;
    background-color: #EDEEF2;
}

button[type="submit"] {
    text-indent: -999px;
    width: 40px;
    border: 1px solid transparent;
    background: url('../assets/search.png') no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
  
  button[type="submit"]:hover {
    opacity: 1;
}

.navigation-mobile {
    display: none;
    width: 44px;
    height: 44px;
    border-radius: 16px;
    background-color: #EDEEF2;
}

.account-settings {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.settings-part {
    height: 370px;
}

.settings-info {
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-evenly;
}

.settings-info > .selected-settings {
    background-color: #F3F4FF;
    border-color: #4E60FF;
}

.selected-settings > .selected {
    background-color: #4E60FF;
}

.settings-info > div {
    width: 350px;
    height: 75px;
    border-radius: 16px;
    border: 2px solid;
    border-color: #EDEEF2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-logo {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #EDEEF2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0 16px;
}

.which-part {
    margin: 16px;
    font-weight: bold;
    font-size: 20px;
}

.setting-title {
    font-weight: bold;
    font-size: 14px;
}

.setting-des {
    font-size: 13px;
}

.personal-info-out {
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 700px;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

.title-part {
    font-weight: bold;
    font-size: 18px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.personal-info > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.profile-pic {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.profile-pic > div > img {
    border-radius: 16px;
}

.change-button {
    width: 83px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #4E60FF;
    background-color: white;
    color: #4E60FF;
}

.remove-button {
    width: 83px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: white;
    color: #83859C;
}

.form {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

.form > div {
    width: 350px;
    display: flex;
    flex-direction:column;
}

.form > div > input {
    width: 341px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #C7C8D2;
    padding-left: 10px;
}

.profile-description {
    font-weight: bold;
    font-size: 12px;
    color: #545563;
}

.notification-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    border-bottom: 1px solid #EDEEF2;
}

.checkboxes > div {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.checkboxes > div > input {
    width: 20px;
    height: 20px;
    accent-color: #4E60FF;
    border-radius: 4px;
    margin-right: 12px;
}

.checkbox > div > label {
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.log-out {
    width: 84px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #FF5C60;
    background-color: white;
    color: #FF5C60;
}

.changes {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}

.changes > button {
    width: 143px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid;
    background-color: white;
}

.changes > button:nth-child(1) {
    border-color: #83859C;
    color: #83859C
}

.changes > button:nth-child(2) {
    background-color: #4E60FF;
    color: white;
}

@media (max-width: 768px) {
    .navigation-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        width: 50%;
    }

    .desktop-version {
        display: none;
    }

    .logo-search > .desktop-version {
        display: none;
    }

    .personal-info-out {
        width: 330px;
    }

    .profile-pic {
        width: 100%;
    }

    .settings-part {
        margin-bottom: 48px;
    }

    .form {
        margin-bottom: 70px;
    }

    .form > div > input {
        width: 300px;
    }

    .personal-info-out {
        height: 100%;
        width: 330px;
    }

    .checkboxes {
        height: 100%;
        border-bottom: 1px solid transparent;
    }

    .title-part {
        margin-bottom: 16px;
    }

    .checkboxes > div {
        width: 300px;
        margin-bottom: 24px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .log-out {
        border-bottom: 1px solid #EDEEF2;
    }

    .log-out > input{
        width: 300px;
        margin-bottom: 20px;
    }

    .changes {
        margin-top: 20px;
        width: 100%;
    }
}